body {
  background-color: blue;
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: lime;
  text-align: center;
}
p {
  color: lime;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
